@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@400;700&display=swap');

body.swal2-shown > [aria-hidden='true'] {
    transition: 0.1s filter;
    filter: blur(1em);
  }
/*
BUAP Oscuro:  rgb(0,59,92)
BUAP Claro:  rgb(0,181,226)
*/
.fa-regular, .fas {
    font-family: "Font Awesome 6 Free";
}

.btn-default{
    margin-right: 50px; 
    width: 100px;
}
.btn-info{
    color: #ffffff;
}

.pdf-container {
    width: 100%;
    height: 100vh;
    border: none; 
}
*, body {
    font-family: 'Source Sans Pro', sans-serif;
}

body {
    background-color: #003B5C;
}

#title-DAU {
    background-color: rgba(0,0,0,0.1);
    border-left: #00B5E2 solid 4px;
    border-right: #00B5E2 solid 4px;
}

  #title-Aviso {

        color: #003b5c;
        margin: 0 0 230px;
        
   }

   #text-Aviso {
        font-family: sourcesans;
        color: #003b5c;
        
   }

   #aceptar{
    margin-left: 80px;
   }

 .text-buap-dark {
    color: #003B5C;
}

.text-buap-light {
    color: #00B5E2;
}

#headerPage {
    min-height: 40px;
}

#mainContentPage {
    width: 100%;
    min-height: 600px;
    background-color: #ffffff;
}

#footerPage {
    min-height: 200px;
}

#windowBlock {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 3200;
    filter: alpha(opacity=35);
    -moz-opacity: 35;
    opacity: 0.35;
    background: #c6c6c6;
    width: 100%;
    height: 100%;
}

.zoom {
    transition: transform .3s;
}

.zoom:hover {
    transform: scale(1.1);
}

.div-scroll {
    height: 50vh;
    overflow: hidden auto;
}

.line-he text-justify{
    text-align: justify;
}
.text-justify {
    text-align: justify;
}
.sb-page-header{
    background-color: #EF8500;
    color: rgba(255, 255, 255, 1);
    position: relative;
    padding: 30px 15px;
    text-align: center;
    }
    
.error-message {
         display: none;
        color: white;
        background-color: red;
        padding: 10px;
        border-radius: 5px;
        position: absolute;
        top: 10px;
        right: 10px;
        z-index: 1000;
    }

    .wrapper {
        max-width: 400px;
        margin: 0 auto;
        padding-top: 50px;
    }

    /* Generar Reporte  */
    a {
        color: #000000;
        text-decoration: none;
    }
    
    .text-report {
        display: flex;
        justify-content: space-between;
    }