input[type="radio"]:checked + .btn {
    background-color: #00314A;
    color: white;
}

.hide-radio input[type="radio"] {
    display: none;
}


.btn-default {
    --bs-btn-color: #000000;
    --bs-btn-bg: #fff;
    --bs-btn-border-color: #00314A;
    --bs-btn-hover-color: #fff;
    --bs-btn-hover-bg: #00314A;
    --bs-btn-hover-border-color: #0a58ca;
    --bs-btn-focus-shadow-rgb: 49, 132, 253;
    --bs-btn-active-color: #ffffff;
    --bs-btn-active-bg: #00314A;
    --bs-btn-active-border-color: #00314A;
    --bs-btn-active-shadow: inset 0 5px 5px rgb(255, 255, 255);
    --bs-btn-disabled-color: #fff;
    --bs-btn-disabled-bg: #0d6efd;
    --bs-btn-disabled-border-color: #0d6efd;
    border: 1px solid #ccc;
    padding: 10px;
    cursor: pointer;
    margin: 5px;
    background-color: #f8f9fa;
}


.btn-primary {
    font-size: medium;
    padding: 10px 20px;
    color: #fff;
    background-color: #EF8500;
    border-color: #EF8500;
}

.button_resp {    
    width: 30%; 
    height: 30%;
    margin: 5px;
    display: inline-block; 
    text-align: center;
    
}

@media (max-width: 768px) {
    .button_resp {
        width: 100%; 
        margin-bottom: 10px;
        
    }
}

.button_resp2 {
    width: calc(16.66% - 10px); 
    margin: 5px;
    justify-content: center;
    align-items: center;
}

@media (max-width: 768px) {
    .d-flex {
        flex-direction: column !important; 
        align-items: center;
    }
    .button_resp2 {
        width: 100%; 
        margin: 5px;
    }
}

.button_resp3{    
    width: auto ; 
    margin: 5px;
}

@media (max-width: 768px) {
    .d-flex {
        flex-direction: column !important; 
        align-items: center;
    }
    .button_resp3 {
        width: 100%; 
        margin-bottom: 10px;
        
    }
}

.button_report{    
    width: 98%; 
    margin: 5px;
}

@media (max-width: 992px) {
    .d-flex {
        flex-direction: column !important; 
        align-items: center;
    }
    .button_report{
        width: auto; 
        margin-bottom: 5px;
        
    }
}


@media (min-width: 992px) {
    .col-md-1, .col-md-10, .col-md-11, .col-md-12, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-md-14 {
        float: left;
    }
}
